<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="text" name="" id="phrase" oninput="send()">
    <hr>
    <p id="result"></p>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js"></script>
<script>
    var socket = io("http://localhost:8000")
    socket.emit("welcome", {name: "Luana"})

    function send() {
        var input = document.getElementById("phrase")
        console.log(input.value)
        socket.emit("phrase", input.value)
    }

    socket.on("result", (data) => {
        console.log(data)
        var p = document.getElementById("result")
        p.innerHTML = data
    })

    socket.on("disconnect", () => {
        console.log("Desconetado.")
    })
</script>
</html>