<h1 style="color: goldenrod;">Pikachu</h1>
<b>Height</b>: 0.4 m <br>
<b>Weight</b> 6.0 kg <br>
<b>Gender</b>: M/F <br>
<b>Category</b>: Mouse <br>
<b>Abilities</b>: Static <br>

<p>Pikachu that can generate powerful electricity have cheek sacs that are extra soft and super stretchy.</p>
<p><b>Trainer</b>: <%= trainer %></p>

<img width='200' height='200' src="https://sm.ign.com/ign_br/screenshot/default/025pikachu-os-anime-4_3pym.png"/>