<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat.io</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            text-align: center;
            margin-top: 1%;
        }
        input, button {
            margin-top: 2%;
        }
        #chat {
            height: 300px;
            background-color: whitesmoke;
            overflow-y: scroll;
            text-align: left !important;
        }
    </style>
</head>
<body>
    <div class="col-md-6 offset-md-3">
        <h1>Chat.io</h1>
        <div id="chat"></div>
        <input type="text" name="" id="msg" class="form-control" placeholder="Mensagem">
        <input type="text" name="" id="username" placeholder="Nome de usuário" class="form-control">
        <button onclick="send()" type="button" class="btn btn-primary btn-lg">Enviar</button>
    </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js"></script>
<script>

</script>
<script> 
    var socket = io("http://localhost:8000")

    socket.on("disconnect", () => {
        console.log("Desconetado.")
    })

    socket.on("showmsg", (data) => {
        var chat = document.getElementById("chat")
        var p = document.createElement("p")
        p.innerHTML = data.username + ": "+ data.msg
        chat.append(p)

        adjustScroll()
    })

    function send() {
        var msgField = document.getElementById("msg")
        var usernameField = document.getElementById("username")

        var msg = msgField.value
        var username = usernameField.value

        socket.emit("msg", {msg, username})
    }

    function adjustScroll () {
        chatWindow = document.getElementById('chat')
        var xH = chatWindow.scrollHeight;
        chatWindow.scrollTo(0, xH)
    }
</script>
</html>